html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.main {
  position: relative;
}

/* .score-card {
  //width: 50%;
  //height: auto;
  //position: relative;
  /* top: 12%;
  left: 50%;
  transform: translate(-50%, -50%); */
//border: 2px solid #606e85;
//border-radius: 10px;
//color: white;
//} */

.text-score {
  color: #2a46c0;
  letter-spacing: 3px;
}
.text-dark-text {
  color: #3b4363;
}
.playing-field {
  display: flex;
  justify-content: space-around;
  /* width: 960px;
  height: auto; */
  //position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  //border: 1px solid rgb(237, 19, 19);
  margin-bottom: 15px;
}

.choice-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid rgb(184, 179, 177);
  border-radius: 10px;
  text-align: center;
}

.play-items {
  color: transparent;
  background-clip: text;
  cursor: pointer;
  transition: all 1s ease;
  animation-iteration-count: 1;
  //border: 1px solid white;
}

.rock {
  background-image: linear-gradient(rgb(203, 91, 35), rgb(235, 237, 243));
}
.rock:hover {
  background-image: linear-gradient(rgb(253, 88, 5), rgb(235, 237, 243));
}
.paper {
  background-image: linear-gradient(rgb(222, 56, 197), rgb(222, 206, 215));
}
.paper:hover {
  background-image: linear-gradient(rgb(243, 8, 173), rgb(222, 206, 215));
}
.scissor {
  background-image: linear-gradient(rgb(0, 102, 255), rgb(231, 219, 222));
}
.scissor:hover {
  background-image: linear-gradient(rgb(17, 0, 255), rgb(231, 219, 222));
}

.play-again-btn-lower-div {
  position: relative;
  width: 100%;
  transform: translate(-0%, 350%);
  margin: 1 auto;
  text-align: center;
}
.message-n-reset-lower-box {
  display: none;
}
.result-message-lower {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: fixed;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%);
  z-index: 40; // greater value keep it above all
  width: 100%;
  text-align: center;
  color: #f4f4f4;
}
.footer-message {
  display: none;
}
.center-result-box {
  display: flex;

  position: fixed;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%);
  z-index: 40; // greater value keep it above all
  text-align: center;
  color: #f4f4f4;
}
.center-result-box-message {
  color: #f4f4f4;
  width: 100%;
  padding: 5px;
  letter-spacing: 3px;
  border: 1px solid #f4f4f4;
  background-color: hsla(219, 87%, 47%, 0.291);
  border-radius: 10px;
}
.label {
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
  //border: 1px solid gray;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main {
    padding: 10px;
  }
  .fa-icon {
    font-size: 5rem;
  }
  .fa-icon-big {
    font-size: 6rem;
    //border: 1px solid white;
  }

  .play-again-btn {
    width: 100px;
    height: auto;
    display: none;
  }

  .label {
    font-size: 1.5rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    z-index: 40; // greater value keep it above all
    width: 100%;
    text-align: center;
    color: #f4f4f4;
  }
  .footer-msg {
    width: 100%;
    padding: 5px;
    letter-spacing: 3px;
    border: 1px solid #f4f4f4;
    background-color: hsla(219, 87%, 47%, 0.291);
    border-radius: 10px;
  }
  .result-message {
    transform: translate(-0%, -0%);
  }

  .center-result-box-message {
    display: none;
  }
  .message-n-reset-box {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .footer-msg {
    display: none;
  }
}
