<div
  class="main bg-gradient-to-r from-[#004e92] to-[#000428] w-full h-screen relative flex flex-col"
>
  <div
    class="relative flex items-center justify-between p-4 border-2 border-solid rounded-lg score-card border-slate-500 sm:w-full md:w-10/12 lg:w-5/12 top-[12%] left-2/4 -translate-x-1/2 -translate-y-1/2"
  >
    <img src="logo.svg" class="w-32 lg:w-52" alt="logo of rock page scissor" />
    <div class="p-6 text-center bg-white rounded-lg bg-card lg:w-36 w-28">
      <p class="uppercase text-score">score</p>
      <p class="text-4xl font-bold text-dark-text lg:text-6xl">
        {{ getScore() }}
      </p>
    </div>
  </div>

  <!--playing fields top icons -->
  <div class="relative w-full playing-field md:w-10/12 lg:w-5/12">
    <i
      (click)="handleSelection(1)"
      class="fa-icon play-items rock fa-solid fa-8x fa-hand-back-fist"
    ></i>
    <i
      (click)="handleSelection(2)"
      class="fa-icon play-items paper fa-solid fa-hand fa-8x"
    ></i>
    <i
      (click)="handleSelection(3)"
      class="fa-icon play-items scissor fa-solid fa-hand-scissors fa-8x"
    ></i>
  </div>

  <!--User Choices-->
  <div
    *ngIf="getUserPicked()"
    class="choice-box sm:w-full md:w-10/12 lg:w-5/12"
  >
    <div class="user-choice-box">
      <i
        *ngIf="getLabelNumberUser() === 1"
        class="fa-icon-big user play-items fa-fade rock fa-solid fa-10x fa-hand-back-fist"
      ></i>
      <i
        *ngIf="getLabelNumberUser() === 2"
        class="fa-icon-big user play-items fa-fade paper fa-solid fa-hand fa-10x"
      ></i>
      <i
        *ngIf="getLabelNumberUser() === 3"
        class="fa-icon-big user play-items fa-fade scissor fa-solid fa-hand-scissors fa-10x"
      ></i>

      <h1 *ngIf="getUserPicked()" class="p-2 mt-2 text-3xl text-white label">
        You
      </h1>

      <!--center results area -->
    </div>
    <div class="center-result-box" *ngIf="getResult()">
      <h1
        class="text-4xl font-bold uppercase md:text-2xl center-result-box-message"
      >
        {{ getResultMessage() }}
      </h1>
    </div>
    <!--end center results -->

    <div class="computer-choice-box">
      <i
        *ngIf="getLabelNumberComputer() === 1"
        class="fa-icon-big computer play-items fa-fade rock fa-solid fa-10x fa-hand-back-fist"
      ></i>
      <i
        *ngIf="getLabelNumberComputer() === 2"
        class="fa-icon-big computer play-items fa-fade paper fa-solid fa-hand fa-10x"
      ></i>
      <i
        *ngIf="getLabelNumberComputer() === 3"
        class="fa-icon-big computer play-items fa-fade scissor fa-solid fa-hand-scissors fa-10x"
      ></i>

      <h1
        *ngIf="getComputerPicked()"
        class="p-2 mt-2 text-3xl text-white label"
      >
        Computer
      </h1>
    </div>
  </div>

  <!--lower play button-->
  <div class="footer" *ngIf="getResult()">
    <h1 class="font-bold uppercase text-1xl md:text-2xl footer-msg">
      {{ getResultMessage() }}
    </h1>
    <button
      *ngIf="getShowButton()"
      type="reset"
      class="w-40 py-2 tracking-wider text-red-800 rounded-lg cursor-pointer bg-slate-300 font-extralight hover:bg-slate-500"
      (click)="handlePlayAgain()"
    >
      Play Again
    </button>
  </div>
</div>
